.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bug {
    background-color: #94BC4A;
}
.dark {
    background-color: #736C75;
}
.dragon {
    background-color: #6A7BAF;
}
.electric {
    background-color: #E5C531;
}
.fairy {
    background-color: #E397D1;
}
.fighting {
    background-color: #CB5F48;
}
.fire {
    background-color: #EA7A3C;
}
.flying {
    background-color: #7DA6DE;
}
.ghost {
    background-color: #846AB6;
}
.grass {
    background-color: #71C558;
}
.ground {
    background-color: #CC9F4F;
}
.ice {
    background-color: #70CBD4;
}
.normal {
    background-color: #AAB09F;
}
.poison {
    background-color: #B468B7;
}
.psychic {
    background-color: #E5709B;
}
.rock {
    background-color: #B2A061;
}
.steel {
    background-color: #89A1B0;
}
.water {
    background-color: #539AE2;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}
.pokemon .number{
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}
.pokemon .name{
    color: #FFF;
    margin-bottom: 0;
    text-transform: capitalize;
}
.pokemon button{
    display: flex;
    color: #FFF;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: auto;
    filter: brightness(1.1);
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail img{
    border-style: none;
    max-width: 100%;
    height: 70px;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button{
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: .825rem;
}
.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.pokemon .detail .types .type{
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}
.pokemon .abilities{
    background-color: #FFF;
    padding: .25rem 0;
    margin: .25rem 0;
    opacity: .8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}
.pokemon .abilities h3{
    font-size: medium;
    margin: .15rem 0;
    padding: .25rem .25rem;
}
.pokemon .abilities .abilitiespokemon{
    opacity: 1;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}
.pokemon .abilities .abilitiespokemon .abilitieslist{
    color: black;
    font-size: .625rem;
    padding: .25rem .25rem;
    margin: .25rem 0;
}
.titleList{
    opacity: .8;
}

@media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}